:root {
  --primaryColor: #009688;
  --primaryHover: rgba(2, 136, 123);
  --secondaryColor: rgb(150, 162, 188);
  --paragraphColor: rgb(127, 127, 175);
  --BgColor: rgb(0, 0, 0);
  --formColor: hsl(151.62deg 7.63% 84.82%);
  --projectCardColor: #072340;
  --textColor: black;
  --headerHeight: 3rem;
  --iconColor: #ffff;
}

.navbar {
  display: flex;
  gap: 15px;
  background:transparent;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background-color: var(--primaryHover);

  .text-div {
    align-items: center;
    margin-left: auto;

    ul {
      display: flex;
      gap: 15px;
      list-style: none;

      li {
        text-decoration: none;
        a {
          text-decoration: none;
          color: var(--iconColor);
          font-size: 20px;
          // font-weight: bold;
          &:hover {
            color: var(--secondaryColor);
          }
        }
      }
    }
  }

  .icon-div {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    .icon {
      font-size: 25px;
      cursor: pointer;
      color: var(--iconColor);

      &:hover {
        background-color: var(--secondaryColor);
      }
    }
  }
}
